@import "../components/_button";
@import "../components/_border";
.detail__background-items{
  padding-top: 4rem ;

  @include resoled(tab-land){

    padding-left: 1.5rem ;

  };
  @include resoled(mobile){
    font-size: 50%;
  }
  &--1{
    min-width: calc(95% / 2);
    display: inline-block;
    float: left;
    padding-left: 2rem;
    @include clearfix;

    .detail_image{
      width:100%;
      max-width: 60rem;
      min-width: 28rem;
      padding-right: 4rem;

    }
  }
  &--2{
    min-width: calc(95% / 2);
    display: inline-block;

    padding-left: 3rem;

    @include resoled(tab-land){
      margin-top: 5rem;

      font-size: 1.4rem;
    }
    .detail_content{
      &--name{
        padding-bottom: 2.5rem;
        font-size: 2.5rem;
      }
      &__list{
        list-style: none;
        column-count: 1;
        width: 50%;
        height: 15rem;

        @include resoled(tab-land){
          width: 100%;
          height: 30rem;

        }
          &--info-tab-1{

          }
          &--info-tab-2{
          display: inline-block;
              }
            &--info-tab-3{
              display: inline-block;
              width: 100%;
            }
          }
      }
     }
    }
    .detail_content__list{
       &>.detail_content__list--info__title{

          line-height:2;

          @include resoled(tab-land){
            margin-top: 3rem;
          }
        &:not(.end-col){

        @include resoled(tab-land){
          margin-top: 0 ;
        }
        }
      }
      &--border{
        margin-top: 6rem;

        @include resoled(tab-land){
          width: 100%;
          margin-top: 3rem;

        }
        &-title{
          display: inline-block;
          margin-bottom: 2rem;

          @include resoled(tab-land){
            width: 100%;

          }
        }
      }

    .title{
        display: inline-block;
        font-size: 1.5rem;
        margin-right: .5rem;
            }
    }
