.button__area{
  &--back{
    appearance:none;
    border: none;
    @include  design-form;

    @include resoled(tab-land){
      margin-top: 2rem;
    };
    margin-top: 4rem;
    width: 12rem;
    height: 4rem;
    cursor: pointer;
  }

}
