.searchbar{
  .label-img{
    position:relative;
    .img-lupa{
      width: 18px;
      height: 40px;
      position: absolute;
      bottom:-15px;
      left: 30px;
    }
  }
  &__input{
    height:$default-height-form;
    font-size: 1.8rem;
    width: 100%;
    min-width: 36.5rem;
    max-width: 45rem;
    @include design-form;
    font-size: $heading-secondary;
    padding: 0  4rem;
    text-indent: 4rem;
    &:focus,&:active{
       &::placeholder{
      color: rgba(255,0,0,0);

    }
  }
  }
}
