
.option_form{
  vertical-align:middle;

  @include resoled(tab-land){
    margin-top: 4.5rem;
  }

  &__select{
    width:20rem;
    height: 5rem;
    position: relative;
    text-align: left;
    float: right;
     @include design-form;
     padding: 0;
     cursor: pointer;

    @include clearfix;
    &--default-value{
    width: calc((100% - 5rem));
    padding: 1.6rem 2rem;
    display: inline-block;
    border-radius: 2px;
    float: left;
    @include clearfix;
    }
    &--button{
      width: 5rem;
      height: inherit;
      float: right;
      appearance:none;
      background-repeat: no-repeat;
      background-position: 15px center;
      background-size: 1rem;
      @include clearfix;
    }
  }
  &__list{
    width: 20rem;
    line-height: 3.5rem;
    z-index: 1000;
    border-radius: 5px;
    &--items{
      padding: 1rem 0 0 1rem;

    }
    &--item{
      list-style: none;
      cursor: pointer;
    }
  }
}
