.header__switch{
  display: inline-block;
 min-width:calc((100% - 105rem) / 2);
  font-size: $heading-secondary;
  float: right;
  @include clearfix;
  ion-icon{
    display: inline-block;
    padding-right: .5rem;
    cursor:pointer;
  }
  &-title{
    display: inline-block;
    padding-left: .5rem;
    vertical-align: baseline;
  }
}
