@mixin clearfix{
  &::after{
    content:"";
    display: table;
  }
}

@mixin design-form{
  border: none;
  border-radius: 5px;
  padding: 1rem;
  &:hover,&:focus,&:active{
    outline:none;
  }

}
@mixin headerPadding{
  padding:2.5rem 14.7rem 2.5rem 12.5rem;
}
@mixin searchPadding{
  padding: 5rem 14.7rem 5rem 12.5rem;
}
@mixin response($breakpoint){
 @if $breakpoint == mobile{

    @media (max-width:36.875em){    //628px
      @content;
    }
  }
  @if $breakpoint == tab-land{

      @media (max-width:64em){
      @content;
    }
  }

}
