$color-light-theme: ("light_element":hsl(0, 0%, 100%),"light_back":hsl(0, 0%, 98%),"dark_text":hsl(200, 15%, 8%));
$color-dark-theme: ("dark_element":hsl(209, 23%, 22%),"dark_back": hsl(207, 26%, 17%),"light_text":hsl(0, 0%, 100%));
$heading-primary: 1.4rem;
$heading-secondary: 1.2rem;
$heading-tercialy: .8rem;
$default-font-size:1.4rem;
$default-height-form:5rem;
$header-padding: 2.5rem 5%;
$max-width: 100%;
$searchplace-padding: 4rem  5%;
$content-padding: 8rem 0 0 5%;
