$color-light-theme: ("light_element":hsl(0, 0%, 100%),"light_back":hsl(0, 0%, 98%),"dark_text":hsl(200, 15%, 8%));
$color-dark-theme: ("dark_element":hsl(209, 23%, 22%),"dark_back": hsl(207, 26%, 17%),"light_text":hsl(0, 0%, 100%));
$color-hover:rgba(42,90,131,1);
$heading-primary: 1.4rem;
$heading-secondary: 1.2rem;
$heading-tercialy: .8rem;
$default-font-size:1.4rem;
$default-height-form:5rem;
$web-padding: 2rem 10rem ;
$mobile-padding: 2rem 5rem ;
$max-width: 100%;
