@import "../base/_animations";
@import "../components/_item-card";
.country-list{

  .country-list__cards{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: left;
    @include response(mobile){
      padding-left: 2.5rem;
    }
    padding-left: 12.5rem;
  }
  .loading__title{

 font-size: 2rem;
  }

}
