
@import "../components/_item-card";
.country-list{

  .country-list__cards{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: left;
    padding-left: 6.5rem;
  }
  .loading-item{
      margin: 10% 40%;
      width: 15rem;
      height: 15rem;
      border: red solid 1rem;
      border-radius: 100%;
      padding: 6rem 3rem;
      animation: loading 2s infinite;
  }
}
@keyframes loading {

  50% {
    width:0rem;
    height: 0rem;
    padding: 0;
    border: blue solid 1px;
    font-size: 0;
  }
  100%{
    width: 15rem;
    height: 15rem;
    padding: 6rem 3rem;
  }

}
