.button__area {
  &--back {
    &:hover {
      transform: scale(1.1);
    }
  }
}
.country-list {
  .loading-item {
    margin: 5% 40%;
    @include response(mobile) {
      margin: 5% 35%;
    }
    width: 15rem;
    height: 15rem;

    border-radius: 100%;
    padding: 6rem 3rem;

    backface-visibility: hidden;
    animation: loading 2s infinite;
  }
}

@keyframes loading {
  0% {
    border: red solid 1rem;
  }
  50% {
    border: blue solid 1rem;
  }
  100% {
    border: green solid 1rem;
  }
}
@keyframes dropdown-close {
  0% {
    opacity: 1;
    top: 0px;
  }
  30% {
    top: -50px;
  }
  40% {
    opacity: 0;
  }
  100% {
    top: -150px;
  }
}
@keyframes dropdown-open {
  0% {
    opacity: 0;
    top: -100px;
  }
  30% {
    top: -15px;
  }
  90% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
