.option_form{
  &__list{
    height: 0;
    transition: height .2s ease .3s;
    &--items{
      opacity:0;
      transition: all .2s ease-out .3s ;
    }
  }
}

.button__area{
  &--back{
    &:hover{
    transform: scale(1.1);
  }
  }

}
.country-list{
.loading-item{
      margin: 5% 40%;
      @include response(mobile){
        margin: 5% 35%;
      }
      width: 15rem;
      height: 15rem;

      border-radius: 100%;
      padding: 6rem 3rem;

      backface-visibility: hidden;
      animation: loading 2s infinite;


  }
}

@keyframes loading {


  0%{
      border: red solid 1rem;

  }
  50% {
    border: blue solid 1rem;

  }
  100%{

      border: green solid 1rem;

  }
}
