.option_form{
  &__list{
    height: 0;
    transition: height .2s ease .3s;
    &--items{
      opacity:0;
      transition: all .2s ease-out .3s ;
    }
  }
}

.button__area{
  &--back{
    &:hover{
    transform: scale(1.1);
  }
  }

}
